<h4>Post details:</h4>
<br/>

<p>
  <%= @row['content'] %>
  <br/>
  <br/>
  <span style="font-size: 75%; color: #999">Created at <%= @row['created_date']  %> by <%= @row['username']%> </span>
</p>

<br/>
<h4>Comments:</h4>
<br/>

<% @comments.each do |comment| %>
  <p>
  <%= comment['content'] %>
  <br/>
  <span style="font-size: 75%; color: #999">Created at <%= comment['created_date']%> </span>
  </p>
  <hr/>
<% end %>

<form action="/details/<%= @row['id'] %>" method="POST" role="form">
  <textarea name="comment" class="form-control" id="exampleFormControlTextarea1" placeholder="Type comment text here" rows="6"></textarea>
  </br>
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>
